.CurrentWeather {
  color: #f9a826;
  font-size: x-large;
  background-color: transparent;
  text-align: center;
  text-shadow: -1px -1px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff,
    1px 1px 0 #ffff;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 10%;
}
